<div class="container tableContent">
  <div class="row pt-4">
    <div class="col-12">
      <button type="button" color="btn btn-default" (click)="goBack()">Back</button>

      <form *ngIf="categoryForm" class="form-full-width" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Category Name:</label>
          <input type="text" class="form-control" formControlName="name" id="name" />
        </div>

        <button type="submit" color="primary" [disabled]="!categoryForm.valid">Save Category</button>
      </form>
    </div>
  </div>
</div>
